<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% elsif page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "/" | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {%- assign home_page_item = site.html_pages | where: "layout", "home" | first -%}
        {% if home_page_item %}
		    <li><a href="{{ "/" | absolute_url }}">{{ home_page_item.title }}</a></li>
	    {% endif %}
		{% assign nav_pages = site.html_pages | where_exp: "item", "item.layout != 'home' and item['nav-menu'] == true" | sort: "nav-order" %}
		{% for page in nav_pages %}
		    <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		{% endfor %}
		<!-- Custom link for Resume -->
		<li><a href="{{ '/assets/pdf/Sumeet_Kulkarni_Resume.pdf' | absolute_url }}" target="_blank" rel="noopener noreferrer">Resume</a></li>
		<!-- Custom link for Contact section -->
		<li><a href="#footer">Contact</a></li>
	</ul>
</nav>
